{% extends "website/_base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}
    {{ album.Title }}
{% endblock %}
{% block page %}
<div class="album">
    <form>{% csrf_token %}</form>
    <input type="hidden" id="album_id" value="{{ album.ID }}">
    {% album_controls album.ID website %}
<h4>
    <span class="ID">{{ album.ID }}
        <div class="fa fa-times-circle remove" id="{{ person.ID }}"
             title="Album verwijderen"
        ></div>
    </span>:
    <span contenteditable="true" class="edit-title">
    {{ album.Title }}
    </span>
</h4>
<div contenteditable="true" class="edit-description">
    {{ album.Description|default_if_none:'' }}</div>
<div class="album-tags-container">
{% for tag in album_tags %}
    <i class="tag hyperlink"><a href="/tag/{{ tag.ID }}">{{ tag.Name }}</a>
        <span class="fa fa-times-circle remove" id="{{ tag.ID }}"></span>
    </i>{% if not forloop.last %},{% endif %}
{% endfor %}
</div>
{% if path_doubles|length %}
    <h4>Dubbelen</h4>
    {% for double in path_doubles %}
        <a href="/album/{{ double.ID }}">{{ double.Title }}</a>
    {% endfor %}
{% endif %}
<div class="pages">
{% pages prev_id next_id mother_title 'album' album.AlbumID album.ID %}
{% pages prev_list_id next_list_id list_title list_name list_id %}
    <div class="control">
{#            <a class="cue-del-ape cmd" id="{{ album.ID }}">delete ape</a>#}
        <a class="luister">Luister</a>
        <a class="refetch">Haal opnieuw de stukken op</a>
    </div>
</div>
{% persons_list album_componisten '/componist/' 'componist' %}
{% persons_list album_performers '/performer/' 'performer' %}
{#{%  album_instrument_list album_instrument  %}#}
{% if album_folder_image %}
    <div>
<img src="/image/{{ album.ID }}/album/-1/360"
{% if album_back_image %}
    title="Klik voor achterzijde"
{% endif %}
     class="album-image folder">
{% endif %}
{% if album_back_image %}
    <div class="fa fa-caret-right back-indicator"></div>
<img src="/image/back/{{ album.ID }}/album/"
     class="album-image back">
{% endif %}
    </div>
{% album_tags album_metatag_titles album_metatags %}
<div class="clear nav">
    {% cuesheetlist cuesheets 1 %}
</div>
<div class="clear nav">
    {% if notfounds|length %}
        Niet gevonden: {{ notfounds|length }} |
    {% endif %}
<textarea id="album-logger"></textarea>
    {% pieceslist pieces %}
    <div class="hyperlink album-tail">
        {% if has_subdirs %}|
            <a class="make-subs" title="Maak cuelist voor subdirectories">
                Maak cuelist voor subs</a> |
            <a class="combine-subs" title="Combineer cuelist voor subdirectories">
                Combineer sub-cuelists</a> |
            <a class="inherit-elements" title="Erf eigenschappen in subalbums">
                Erf</a> |
            <a class="read_albums" title="Lees albums in">Lees albums in</a>
        {% endif %}
        {% proposallist proposals artists show_proposals %}
    </div>
{% if albums|length %}
    {% alfabet %}
    {% albumlist albums None None 'split' %}
{% endif %}
    </div>
</div>
{% endblock %}