{% extends "website/_base.html" %}
{% load static %}
{% load page_tags %}
{% block title %}
    {{ album.Title }}
{% endblock %}
{% block page %}
<div class="album">
    <form>{% csrf_token %}</form>
    <input type="hidden" id="album_id" value="{{ album.ID }}">
    {% album_controls album.ID website %}
<h4>
    <span class="ID">{{ album.ID }}
        <div class="fa fa-times-circle remove" id="{{ person.ID }}"
             title="Album verwijderen"
        ></div>
    </span>:
    <span contenteditable="true" class="edit-title">
    {{ album.Title }}
    </span>
</h4>
<div contenteditable="true" class="edit-description">
    {{ album.Description|default_if_none:'' }}</div>
{% for tag in album_tags %}
    <i class="tag hyperlink"><a href="/tag/{{ tag.ID }}">{{ tag.Name }}</a>
        <span class="fa fa-times-circle remove" id="{{ tag.ID }}"></span>
    </i>{% if not forloop.last %},{% endif %}
{% endfor %}
{% if path_doubles|length %}
    <h4>Dubbelen</h4>
    {% for double in path_doubles %}
        <a href="/album/{{ double.ID }}">{{ double.Title }}</a>
    {% endfor %}
{% endif %}
    {% pages prev_id next_id mother_title 'album' album.AlbumID %}
    {% pages prev_list_id next_list_id list_title list_name list_id %}
{% persons_list album_componisten '/componist/' 'componist' %}
{% persons_list album_performers '/performer/' 'performer' %}
{#{%  album_instrument_list album_instrument  %}#}
{% if album_folder_image %}
    <div>
<img src="/image/{{ album.ID }}/album/"
{% if album_back_image %}
    title="Klik voor achterzijde"
{% endif %}
     class="album-image folder">
{% endif %}
{% if album_back_image %}
    <div class="fa fa-caret-right back-indicator"></div>
<img src="/imageback/{{ album.ID }}/album/"
     class="album-image back">
{% endif %}
    </div>
<div class="album-tags">
    <button class="title-to-tag cmd" title="title to tag">album</button>
    <button class="all-to-tag cmd" title="all to tag">album, artist, composer</button>
{% if album_metatag_titles|length %}
    <button class="stukken-remove-title-tag cmd">wis titels</button>
{% endif %}
<span class="generic-tag">
    wis tag:<input type="text" class="stukken-remove-generic-tag"></span>
    <br>
{% for tag, value in album_metatags.items %}
    {% if tag != 'cuesheet' and tag|lower != 'title' %}
        {{ tag }}:
        {% for t in value %}
            {{ t }}{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}<br>
    {% elif tag|lower == 'title' %}
        <span class="last-title">
        last title: {{ value.0 }}
        <div class="fa fa-times-circle stukken-remove-title-tag cmd"
             title="stuk-titels verwijderen"></div>
            <br>
        </span>
    {% endif %}
{% endfor %}
{#{% if album_metatag_titles|length %}#}
{#<h4>Titles</h4>#}
{#<ul>#}
{#{% for title in album_metatag_titles %}#}
{#    {% for t in title %}#}
{#        <li>{{ t }}</li>#}
{#    {% endfor %}#}
{#{% endfor %}#}
{#</ul>#}
{#{% endif %}#}
</div>
<div class="clear nav">
    {% cuesheetlist cuesheets 1 %}
</div>
<div class="clear nav">
    {% if notfounds|length %}
        Niet gevonden: {{ notfounds|length }} |
    {% endif %}
<textarea id="album-logger"></textarea>
    {% pieceslist pieces %}
    <div class="hyperlink album-tail">
        {% if has_subdirs %}|
            <a class="make-subs" title="Maak cuelist voor subdirectories">
                Maak cuelist voor subs</a> |
            <a class="combine-subs" title="Combineer cuelist voor subdirectories">
                Combineer sub-cuelists</a> |
            <a class="inherit-elements" title="Erf eigenschappen in subalbums">
                Erf</a> |
            <a class="read_albums" title="Lees albums in">Lees albums in</a>
        {% endif %}
        {% proposallist proposals artists show_proposals %}
    </div>
{% if albums|length %}
    {% alfabet %}
    {% albumlist albums None None 'split' %}
{% endif %}
    </div>
</div>
{% endblock %}