{% extends "website/_base.html" %}
{% load page_tags %}
{% block title %}
    {{ instrument.Name }}
{% endblock %}
{% block page %}
    <div class="instrument">
        <form>
            {% csrf_token %}
            <input type="hidden" id="instrument_id" value="{{ instrument_id }}">
        </form>
        <h4>{{ instrument.Name }} ({{ items|length }})</h4>
        <input class="search-inside-instrument" placeholder="Zoek" value="{{ query }}">
        {% alfabet %}
        {% albumlist items %}
    </div>
{% endblock %}