<div class="album-controls">
    &nbsp;<button class="cmd" onclick="openfinder('{{ album_id }}', 'album')">finder
    </button>
    <button class="cmd" onclick="openterminal('{{ album_id }}', 'album')">terminal
    </button>
    <button class="cmd" onclick="tageditoralbum('{{ album_id }}', 'album')">tag editor
    </button>
    {% if website %}
    <span class="hyperlink btn">
    <a onclick="openwebsite('{{ album_id }}')">website</a>
    </span>
    {% endif %}
    <input class="tag typeahead" type="text" placeholder="Tag">
    <input class="componist typeahead" type="text" placeholder="Componist">
    <input class="performer typeahead" type="text" placeholder="Performer">
    <input class="instrument typeahead" type="text" placeholder="Solo instrument">
</div>
