<div>
<ul>
{% for person in persons %}
    <li class="hyperlink {{ type }} person">
        <a href="{{ person_url }}{{ person.ID }}/" title="{{ person.FullName }}">
            {{ person.LastName }}
        </a>
        <div class="person-loup">
            <div>
                <a href="{{ person_url }}{{ person.ID }}/">
                {{ person.FullName }}
                </a>
            </div>
            <div class="fa fa-times-circle remove"
                 style="position:relative;"
                 id="{{ person.ID }}"></div>
            <img class="" src="/image/{{ person.ID }}/{{ type }}/">
            <div>{{ person.Birth }} - {{ person.Death }}</div>
        </div>
        <a href="{{ person_url }}{{ person.ID }}/" title="{{ person.FullName }}">
        <div class="thumbnail-container">
    <img class="thumbnail" src="/image/{{ person.ID }}/{{ type }}/">
        </div>
        </a>
    </li>
{% endfor %}
</ul>
</div>