<div class="upload-controls">
    <ul>
        <li class="tag">
            <input class="typeahead" type="text" placeholder="Tag">
            <span class="autofill">+</span>
        </li>
        <li class="componist">
            <input class="typeahead" type="text" placeholder="Componist">
            <span class="autofill">+</span>
        </li>
        <li class="performer">
            <input class="typeahead" type="text" placeholder="Performer">
            <span class="autofill">+</span>
        </li>
        <li class="instrument">
            <input class="typeahead" type="text" placeholder="Solo instrument">
            <span class="autofill">+</span>
        </li>
    </ul>
</div>
